.footer {
  padding: 1.5rem 0; /* py-12 */
  border-top: 1px solid #01359c; /* border-gray-100 */
  background-color: #000000cf;
  flex-shrink: 0;
}

.container {
  max-width: 1280px; /* max-w-7xl */
  margin: 0 auto;
  padding: 0 1.5rem; /* px-6 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7280; /* text-gray-500 */
  font-size: 0.9rem; /* text-sm */
}

.copyright {
  margin: 0;
}

.links {
  display: flex;
  gap: 1.5rem; /* gap-6 */
}

.linkItem {
  cursor: pointer;
  transition: color 0.2s;
}

.linkItem:hover {
  color: #111827; /* 더 진한 색으로 호버 효과 */
}

@media (max-width: 768px) {
.container{
  font-size: 0.8rem;
}

}