.section {
  padding: 100px 0;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center; /* 세로 중앙 정렬로 안정감 부여 */
  
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  margin-bottom: 50px;
}

.subtitle {
 display: inline-block;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #818cf8;
  margin-bottom: 16px;
  opacity: 0.8;
}

.title {
  font-size: clamp(2rem, 5vw, 3rem); 
  font-weight: 600;
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #fff, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 100px; 
  align-items:start;
}


.imgContainer {
  width: 100%;
  height: 300px; 
  background: #0f0f0f;
  border: 1px solid rgba(20, 29, 30, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img{
  width: 100%;
}
.logoText {
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.262);
}

.statItem {
  padding: 20px 5px; 
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.262);
}

.statItem:last-child { border-right: none; }

.statValue {
  display: block;
  font-size: 1.2rem; 
  font-weight: 800;
  color: #ffcd00;
}

.statLabel {
  font-size: 0.8rem;
  color: #666;
}


/* 오른쪽 영역: 텍스트 및 특징 */
.slogan {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 40px;
  white-space: pre-wrap;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 12px;
  white-space: pre-wrap;
}

.detail {
  font-size: 1rem;
  line-height: 1.6;
  color: #777;
  white-space: pre-wrap;
}


@media (max-width: 968px) {
  .mainGrid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .featureList {
    grid-template-columns: 1fr;
  }
  .section { padding: 60px 0; }
}