/* src/styles/index.css */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: pre-line;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  height: 100%;
  background-color: #0a0a0a;
}

body {
  background-color: var(--rs-black);
  color: var(--rs-white);
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #0a0a0a;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
main {
  flex: 1; /* 남는 모든 공간을 차지하여 푸터를 바닥으로 밀어냄 */
}